$bg-color: #3f51b5d0;
$bg-text: white;
$nav-text: white;
$nav-active-bg: #5767c0ce;
$cc-card-bg: #fffffff4;
$cc-card-text: black;
$cc-button-bg: white;
$cc-button-text: #b85100;
$quote-bg: #f9f9f9;
$quote-border: #ccc;
$logos-bg: white;
$logos-sh-bg: #f57c00;
$logos-sh-text: white;
$about-bg: #fffffff4;
$about-text: black;
$photo-bg: white;
$photo-shadow: #000000a0;
$sticky-shadow: #000000a0;
$sticky-text: black;
$sticky-orange-bg: orange;
$sticky-yellow-bg: beige;
$sticky-blue-bg: lightskyblue;
$sticky-green-bg: yellowgreen;
$sticky-pink-bg: pink;
$footer-border: #2f2f2f;
$footer-bg: #151515;
$footer-text: #7e7e7f;
$footer-link: #e1e1e1;
$footer-link-hover: white;

.toolbar {
    background: $bg-color;
    color: $bg-text;
    position: fixed;
    top: 0px;
    z-index: 100;
    overflow: hidden;

    nav li,
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    nav li,
    nav a {
        display: inline-block;
    }

    nav a {
        padding: 20px;
        color: $nav-text;
        text-decoration: none;
    }

    nav li.active {
        background: $nav-active-bg;
    }
}

.container-top {
    padding-top: 100px;
    display: block;
    background-image: url("/assets/images/bg-agile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .name {
        background: $cc-card-bg;
        color: $cc-card-text;
        text-align: center;
        padding: 1em;
        margin: 0 auto;
        width: 800px;
        max-width: 100%;

        .contact {
            text-align: left;
            padding: 1em;

            h1 {
                margin-bottom: 0.1em;
            }

            button {
                background: $cc-button-bg;
                color: $cc-button-text;
            }

            .cinfo {
                margin-top: 1em;
                font-size: 1.2em;
            }

            .quote {
                margin: 1em;

                blockquote {
                    background: $quote-bg;
                    border-left: 10px solid $quote-border;
                    margin: 1.5em 10px;
                    padding: 0.5em 10px;
                    quotes: "\201C""\201D""\2018""\2019";
                }
                blockquote:before {
                    color: $quote-border;
                    content: open-quote;
                    font-size: 4em;
                    line-height: 0.1em;
                    margin-right: 0.25em;
                    vertical-align: -0.4em;
                }
                blockquote p {
                    display: inline;
                }

                cite {
                    display: block;
                    text-align: right;
                }
            }
        }
    }

    .logos {
        background: $logos-bg;
        margin-top: 2em;

        .header {
            background: $logos-sh-bg;
            color: $logos-sh-text;
            padding: 0.4em;
        }

        .icon {
            width: 80px;
            height: 65px;
            margin: 1em 1em;
        }

        h2 {
            margin: 0;
        }
    }
}

.mobile .container-top {
    .name {
        width: 100%;
    }
}

.container-bottom {
    padding: 100px 0;
    display: block;
    background-image: url("/assets/images/bg-wood.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    .about {
        background: $about-bg;
        color: $about-text;
        padding: 1em;

        h1 {
            margin-bottom: 0.5em;
        }
    }

    .doggo {
        background: $photo-bg;
        box-shadow: 3px 3px 8px 6px $photo-shadow;
        padding: 15px;
        height: 335px;
        -o-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        transform: rotate(-5deg);

        img {
            width: 240px;
            max-width: 100%;
        }
    }

    .tape-a {
        background-image: url("/assets/images/tape-A.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 70px;
        width: 440px;
        max-width: 100%;
        text-align: center;
        margin: 4em auto;

        h2 {
            font-size: 2.5em;
            font-family: "Permanent Marker", cursive;
            line-height: 70px;
        }
    }

    .tape-b {
        background-image: url("/assets/images/tape-B.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 60px;
        width: 440px;
        max-width: 100%;
        text-align: center;
        margin: 4em auto;
        -o-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        transform: rotate(2deg);

        h2 {
            font-size: 2.5em;
            font-family: "Permanent Marker", cursive;
            line-height: 60px;
        }
    }

    .tape-c {
        background-image: url("/assets/images/tape-C.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 50px;
        width: 300px;
        max-width: 100%;
        text-align: center;
        margin: 4em auto;
        -o-transform: rotate(-3deg);
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        transform: rotate(2deg);

        h2 {
            font-size: 2.5em;
            font-family: "Permanent Marker", cursive;
            line-height: 50px;
        }
    }

    .sticky {
        background: $sticky-orange-bg;
        color: $sticky-text;
        font-family: "Permanent Marker", cursive;
        height: 200px;
        width: 200px;
        text-align: center;
        font-size: 1.1em;

        .text {
            padding: 1.6em;

            h3 {
                font-weight: bold;
                font-family: "Kalam", cursive;
                font-size: 1.3em;
            }
        }
    }

    .sticky.orange {
        background: $sticky-orange-bg;
        box-shadow: 3px 3px 8px 6px $sticky-shadow;
        -o-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    .sticky.blue {
        background: $sticky-blue-bg;
        box-shadow: 3px 3px 8px 6px $sticky-shadow;
        -o-transform: rotate(3deg);
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        transform: rotate(3deg);

        .text {
            padding: 1.5em;
        }
    }

    .sticky.green {
        background: $sticky-green-bg;
        box-shadow: 3px 3px 8px 6px $sticky-shadow;
        -o-transform: rotate(-6deg);
        -webkit-transform: rotate(-6deg);
        -moz-transform: rotate(-6deg);
        transform: rotate(-6deg);

        .text {
            padding: 1.4em;
        }
    }

    .sticky.pink {
        background: $sticky-pink-bg;
        box-shadow: 3px 3px 8px 6px $sticky-shadow;
        -o-transform: rotate(4deg);
        -webkit-transform: rotate(4deg);
        -moz-transform: rotate(4deg);
        transform: rotate(4deg);

        .text {
            padding: 1.3em;
        }
    }

    .sticky.yellow {
        background: $sticky-yellow-bg;
        box-shadow: 3px 3px 8px 6px $sticky-shadow;
        -o-transform: rotate(4deg);
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        transform: rotate(2deg);

        .text {
            padding: 1.4em;
        }
    }
}

.container-footer {
    border-top: 3px solid $footer-border;
    background: $footer-bg;
    color: $footer-text;
    padding: 0.6em;
    text-align: right;

    a {
        color: $footer-link;
        text-decoration: none;
    }

    a:hover {
        color: $footer-link-hover;
        text-decoration: underline;
    }
}
