<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
        <button fxHide [fxHide.lt-sm]="'false'" mat-icon-button #menuButton [matMenuTriggerFor]="appMenu"
            aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item [routerLink]="" (click)="navigateTo('contact')">Contact</button>
            <a mat-menu-item [routerLink]="" (click)="navigateTo('about')">About Me</a>
            <a mat-menu-item [routerLink]="" (click)="navigateTo('experience')">Experience</a>
            <a mat-menu-item href="/assets/files/Olivia Czarnecki - Resume.docx" target="_blank">Resume</a>
        </mat-menu>
        <nav [fxHide]="'false'" [fxHide.lt-sm]="'true'">
            <ul>
                <li [ngClass]="{'active':navRef=='contact'}"><a [routerLink]=""
                        (click)="navigateTo('contact')">Contact</a></li>
                <li [ngClass]="{'active':navRef=='about'}"><a [routerLink]="" (click)="navigateTo('about')">About Me</a>
                </li>
                <li [ngClass]="{'active':navRef=='experience'}"><a [routerLink]=""
                        (click)="navigateTo('experience')">Experience</a></li>
                <li><a href="/assets/files/Olivia Czarnecki - Resume.docx" target="_blank">Resume</a></li>
            </ul>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="row wrap" [ngClass.lt-sm]="'mobile'">
    <div fxFlex="100%" #contactMe class="container-top">
        <div class="name mat-elevation-z2" fxFlexAlign="center center" fxLayout="row" fxLayout.lt-sm="row wrap">
            <div fxFlex.lt-sm="100%" fxFlex="0 1 270px">
                <img alt="Photograph of Olivia Czarnecki" src="/assets/images/Profile.png">
            </div>
            <div fxFlex.lt-sm="1 1 100%" fxFlex="auto" class="contact" fxLayout="column">
                <div fxFlex="auto">
                    <h1 class="mat-display-3">Olivia Czarnecki</h1>
                    <h2 class="mat-h2">Systems Analyst & Social Insurance Specialist</h2>
                    <button *ngIf="hidden" mat-stroked-button (click)="getCI()">
                        <span *ngIf="hidden">View Contact Information</span>
                        <span *ngIf="!hidden">Hide Contact Information</span>
                    </button>
                    <div *ngIf="!hidden" class="cinfo mat-body-1">
                        <p>Email: {{email}}</p>
                        <p>Mobile: {{mobile}}</p>
                    </div>
                </div>
                <div class="quote" fxFlex="0 1 128px">
                    <blockquote>
                        <p>
                            We are all different, but we share the same human spirit. Perhaps it's human nature that we
                            adapt
                            and
                            survive.
                        </p>
                        <br>
                        <cite>Stephen Hawking</cite>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="logos">
            <div class="header">
                <h2 class="mat-h4">Front End Experience</h2>
            </div>
            <a href="https://angular.io/" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="angular" aria-hidden="false" aria-label="Angular"></mat-icon>
            </a>
            <a href="https://whatwg.org/" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="html5" aria-hidden="false" aria-label="HTML5"></mat-icon>
            </a>
            <a href="https://www.ecma-international.org/" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="ecmascript" aria-hidden="false" aria-label="ECMA Script"></mat-icon>
            </a>
            <a href="https://www.typescriptlang.org/" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="typescript" aria-hidden="false" aria-label="TypeScript"></mat-icon>
            </a>
            <a href="https://jquery.com/" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="jquery" aria-hidden="false" aria-label="jQuery"></mat-icon>
            </a>
            <a href="https://www.w3.org/Style/CSS/" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="css3" aria-hidden="false" aria-label="CSS3"></mat-icon>
            </a>
            <a href="https://sass-lang.com/" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="sass" aria-hidden="false" aria-label="Sass"></mat-icon>
            </a>
            <a href="https://getbootstrap.com/" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="bootstrap" aria-hidden="false" aria-label="BootStrap"></mat-icon>
            </a>
            <a href="https://material.io/" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="matdesign" aria-hidden="false" aria-label="Material Design"></mat-icon>
            </a>
            <div class="header">
                <h2 class="mat-h4">Back End Experience</h2>
            </div>
            <a href="https://nodejs.org/en/" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="nodejs" aria-hidden="false" aria-label="NodeJS"></mat-icon>
            </a>
            <a href="https://expressjs.com/" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="expressjs" aria-hidden="false" aria-label="ExpressJS"></mat-icon>
            </a>
            <a href="https://dotnet.microsoft.com/apps/aspnet" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="aspnet" aria-hidden="false" aria-label="ASP.Net"></mat-icon>
            </a>
            <a href="https://www.java.com/en/" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="java" aria-hidden="false" aria-label="Java"></mat-icon>
            </a>
            <a href="https://www.ibm.com/products/db2-database" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="ibmdb2" aria-hidden="false" aria-label="IMB DB2"></mat-icon>
            </a>
            <a href="https://www.mysql.com/" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="mysql" aria-hidden="false" aria-label="mySQL"></mat-icon>
            </a>
            <a href="https://www.mongodb.com/" rel="noopener" target="_blank">
                <mat-icon class="icon" svgIcon="mongodb" aria-hidden="false" aria-label="MongoDB"></mat-icon>
            </a>
        </div>
    </div>
    <div fxFlex="100%" class="container-bottom">
        <div #aboutMe>
            <div fxLayout="row wrap" fxLayoutAlign="center center">
                <div class="about" fxFlex="40%" fxFlex.lt-sm="90%">
                    <div>
                        <h1 class="mat-display-2">About Me</h1>
                        <p>
                            Growing up I always admired animation. It’s fascinating how a group of individuals can
                            create
                            entire
                            worlds
                            which would otherwise be impossible. It was my love of animation that lead me to meet some
                            of my
                            closest
                            friends and eventually I was introduced into programing and web design.
                        </p>
                        <p>
                            We would often meet up afterschool on chatrooms and I started learning about chatroom
                            scripts in
                            mIRC.
                            Over
                            the years went from learning HTML to full stack ASP.Net applications. However, I learned
                            that
                            much
                            like
                            animation. It takes a team to be successful.
                        </p>
                        <p>
                            Today, while I continue to hold a passion for programing my passions have grown. With
                            expertise
                            in
                            business,
                            web technologies, and social insurance programs I found that a career as an analysis allows
                            me
                            to
                            utilize
                            all of my existing skills while also continuing to learn and share my knowledge with others.
                            And
                            I
                            can
                            even
                            take some time to spend with the doggo.
                        </p>
                    </div>
                </div>"
                <div fxFlex="0 1 270px" class="doggo">
                    <img alt="Photograph of Olivia's doggo with her cat glaring from the background"
                        src="/assets/images/doggo.jpg">
                </div>
            </div>
        </div>


        <div #experience>
            <div class="tape-a">
                <h2>Experience</h2>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                <div class="sticky orange">
                    <div class="text">
                        <h3 class="subheading-1">Systems Analyst</h3>
                        <p>Social Security Administration</p>
                        <p>2016 - Present </p>
                    </div>
                </div>

                <div class="sticky blue">
                    <div class="text">
                        <h3 class="subheading-1">Claims Technical Expert</h3>
                        <p>Social Security Administration</p>
                        <p>10/2014 - 10/2016</p>
                    </div>
                </div>

                <div class="sticky pink">
                    <div class="text">
                        <h3 class="subheading-1">Claims Representative</h3>
                        <p>Social Security Administration</p>
                        <p>4/2009 - 10/2014</p>
                    </div>
                </div>

                <div class="sticky green">
                    <div class="text">
                        <h3 class="subheading-1">Webmaster &amp; Owner</h3>
                        <p>OtakuElite Online</p>
                        <p>2006 - 2013</p>
                    </div>
                </div>
            </div>

        </div>

        <div #education>
            <div class="tape-b">
                <h2>Education</h2>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                <div class="sticky green">
                    <div class="text">
                        <h3 class="subheading-1">Business Administration</h3>
                        <p>B.S. Finance</p>
                        <p>Nicholls State University</p>
                        <p>2005 - 2007</p>
                    </div>
                </div>

                <div class="sticky pink">
                    <div class="text">
                        <h3 class="subheading-1">Computer Science &amp; Electronic Theory</h3>
                        <p>Bucks County Technical H.S.</p>
                        <p>2000 - 2003 </p>
                    </div>
                </div>
            </div>
        </div>

        <div #skills>
            <div class="tape-c">
                <h2>Skills</h2>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                <div class="sticky blue">
                    <div class="text">
                        <h3 class="subheading-1">Common Tools</h3>
                        Excel, Word, Outlook, PowerPoint, One Note, Publisher, Access, Skype, Visio, and Photoshop.
                    </div>
                </div>

                <div class="sticky orange">
                    <div class="text">
                        <h3 class="subheading-1">System Analysis Tools</h3>
                        VersionOne, Confluence, DB Visualizer, TOAD, ALM, Visual Code, and Eclipse.
                    </div>
                </div>

                <div class="sticky yellow">
                    <div class="text">
                        <h3 class="subheading-1">Web Development</h3>
                        ASP.NET, VB, JavaScript, Angular, TypeScript, NodeJS, HTML, Sass, SQL, and MongoDB.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="100%" class="container-footer">
        <p>Created by Olivia Czarnecki (2020) using Angular, Sass, and Material Design.</p>
        <p>View on <a href="https://bitbucket.org/oliviaczarnecki/oliviaczarnecki/src/master/" rel="noopener" target="_blank">Bitbucket</a>. Photography by <a href="https://unsplash.com/@irfansimsar" rel="noopener" target="_blank">irfan Simsar</a>
            and <a href="https://unsplash.com/@fragilejames" rel="noopener" target="_blank">James Fragile</a>.</p>
    </div>
</div>